all_gaps_mk2/00N_060W.tif
all_gaps_mk2/00N_070W.tif
all_gaps_mk2/downloaded_files/
all_gaps_mk2/downld_2yr_12dayinterval/
exported_earth_engine/
automate2/downloaded_files_2yr_10_7/
automate2/downloaded_files_gaps81-85/
automate2/old_downloaded/
papers/
tree_images/
treecover/
trees_dataset.gpkg
qgis/
automated_data/
all_gaps_mk2/gap81/
all_gaps_mk2/gap82/
all_gaps_mk2/gap83/
all_gaps_mk2/gap84/
all_gaps_mk2/gap85/
full_dataset_earthengine/
gapsmk3/
automate2/automate2-428111-c5d352d7461e.json